<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Destiny App 215</title>
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="destiny-app">
  
  <div v-for="card in cards" class="card" v-bind:class="card.color">
    
    <!--img goes here-->
    <img class="card" v-bind:src="card.img"></img>
    
    <div class="health">{{card.health}}</div>
    
    <div class="rarity rare" v-if="card.rarity" v-bind:class="{rare:card.rarity}">{{card.setNumber}} </div>
    <div v-else class="rarity legendary" v-bind:class="{legendary:card.rarity}">{{card.setNumber}}</div>
    
    <div class="name">{{card.name}}</div>
    
    <div class="affl villain">{{card.affl}}</div>
  </div>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
